In [64]:
from sqlite3 import Error
from datetime import datetime
from datetime import timedelta
import json
import pandas as pd
import sqlite3

database = r'crypto_db.sqlite'

In [66]:
def create_connection(db_file):
    """ create a database connection to the SQLite database specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return conn
# END create_connection

In [83]:
conn = create_connection(database)
query = f"SELECT time_period_end, price_close FROM historic_data WHERE asset_id='BTC' ORDER BY time_period_end ASC"
if conn is not None:
    result = pd.read_sql_query(query,conn)
else:
    print("Error! cannot create the database connection.")
conn.close()

result

                   time_period_end  price_close
0     2011-09-14T00:00:00.0000000Z         5.97
1     2011-09-15T00:00:00.0000000Z         5.53
2     2011-09-16T00:00:00.0000000Z         5.13
3     2011-09-17T00:00:00.0000000Z         4.85
4     2011-09-18T00:00:00.0000000Z         4.87
...                            ...          ...
3430  2021-02-21T00:00:00.0000000Z     55923.52
3431  2021-02-22T00:00:00.0000000Z     57492.91
3432  2021-02-23T00:00:00.0000000Z     54142.13
3433  2021-02-24T00:00:00.0000000Z     48899.99
3434  2021-02-25T00:00:00.0000000Z     50934.74

[3435 rows x 2 columns]

In [68]:
result['time_period_end'] = pd.to_datetime(result['time_period_end'])
result

plotstart = result['time_period_end'].iloc[-2]
plotstart

Timestamp('2021-02-24 00:00:00+0000', tz='UTC')

In [82]:
date = plotstart
number_of_days = 5

graph = pd.DataFrame({"time" : [plotstart]})

for i in range(number_of_days):
    date += timedelta(days=1)
    graph = graph.append({'time' : date}, ignore_index=True)      

graph

                       time
0 2021-02-24 00:00:00+00:00
1 2021-02-25 00:00:00+00:00
2 2021-02-26 00:00:00+00:00
3 2021-02-27 00:00:00+00:00
4 2021-02-28 00:00:00+00:00
5 2021-03-01 00:00:00+00:00