In [15]:
import sqlite3
from sqlite3 import Error

In [32]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return conn

def execute_sql_cmd(conn, command):
    """ run a sql command statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(command)
    except Error as e:
        print(e)

In [30]:
database = r"dbsqlite.db"

sql_create_assets_table = """ CREATE TABLE IF NOT EXISTS "assets" (
    "asset_id" VARCHAR   NOT NULL,
    "name" VARCHAR   NOT NULL,
    "type_is_crypto" INT   NOT NULL,
    "data_quote_start" VARCHAR   NOT NULL,
    "data_quote_end" VARCHAR   NOT NULL,
    "data_orderbook_start" VARCHAR   NOT NULL,
    "data_orderbook_end" VARCHAR   NOT NULL,
    "data_trade_start" VARCHAR   NOT NULL,
    "data_trade_end" VARCHAR   NOT NULL,
    "data_quote_count" VARCHAR   NOT NULL,
    "data_trade_count" VARCHAR   NOT NULL,
    "data_symbols_count" INT   NOT NULL,
    "volume_1hrs_usd" FLOAT   NOT NULL,
    "volume_1day_usd" FLOAT   NOT NULL,
    "volume_1mth_usd" FLOAT   NOT NULL,
    "price_usd" FLOAT   NOT NULL,
    PRIMARY KEY ("asset_id"),
    FOREIGN KEY ("asset_id") REFERENCES "historic_trades" ("asset_id")
);"""


# """ ALTER TABLE "assets" ADD CONSTRAINT "fk_assets_asset_id" FOREIGN KEY("asset_id") REFERENCES "historic_trades" ("asset_id"); """

# PRIMARY KEY (country_id, language_id),
# 	FOREIGN KEY (country_id) REFERENCES countries (country_id) 
#             ON DELETE CASCADE ON UPDATE NO ACTION,



sql_create_periods_table = """ CREATE TABLE IF NOT EXISTS "periods" (
    "period_id" VARCHAR   NOT NULL,
    "length_seconds" INT   NOT NULL,
    "length_months" INT   NOT NULL,
    "unit_count" INT   NOT NULL,
    "unit_name" VARCHAR   NOT NULL,
    "display_name" VARCHAR   NOT NULL
);"""

sql_create_current_rates_table = """ CREATE TABLE IF NOT EXISTS "current_rates" (
    "time" VARCHAR   NOT NULL,
    "asset_id_base" VARCHAR   NOT NULL,
    "asset_id_quote" VARCHAR   NOT NULL,
    "rate" FLOAT   NOT NULL,
    FOREIGN KEY ("asset_id_base") REFERENCES "assets" ("asset_id")
);"""


# """ ALTER TABLE "current_rates" ADD CONSTRAINT "fk_current_rates_asset_id_base" FOREIGN KEY("asset_id_base") REFERENCES "assets" ("asset_id");"""
# PRIMARY KEY (country_id, language_id),
# 	FOREIGN KEY (country_id) REFERENCES countries (country_id) 
#             ON DELETE CASCADE ON UPDATE NO ACTION,



sql_create_exchanges_table = """ CREATE TABLE IF NOT EXISTS "exchanges" (
    "exchange_id" VARCHAR   NOT NULL,
    "website" VARCHAR   NOT NULL,
    "name" VARCHAR   NOT NULL,
    "data_start" VARCHAR   NOT NULL,
    "data_end" VARCHAR   NOT NULL,
    "data_quote_start" VARCHAR   NOT NULL,
    "data_quote_end" VARCHAR   NOT NULL,
    "data_orderbook_start" VARCHAR   NOT NULL,
    "data_orderbook_end" VARCHAR   NOT NULL,
    "data_trade_start" VARCHAR   NOT NULL,
    "data_trade_end" VARCHAR   NOT NULL,
    "data_symbols_count" INT   NOT NULL,
    "volume_1hrs_usd" FLOAT   NOT NULL,
    "volume_1day_usd" FLOAT   NOT NULL,
    "volume_1mth_usd" FLOAT   NOT NULL
);"""

sql_create_historic_trades_table = """ CREATE TABLE IF NOT EXISTS "historic_trades" (
    "asset_id" VARCHAR  NOT NULL,
    "time_period_start" VARCHAR   NOT NULL,
    "time_period_end" VARCHAR   NOT NULL,
    "time_open" VARCHAR   NOT NULL,
    "time_close" VARCHAR   NOT NULL,
    "price_open" FLOAT   NOT NULL,
    "price_high" FLOAT   NOT NULL,
    "price_low" FLOAT   NOT NULL,
    "price_close" FLOAT   NOT NULL,
    "volume_traded" FLOAT   NOT NULL,
    "trades_count" INT   NOT NULL
);"""

#alter1 = """ ALTER TABLE "assets" ADD CONSTRAINT "fk_assets_asset_id" FOREIGN KEY("asset_id") REFERENCES "historic_trades" ("asset_id"); """
#alter2 = """ ALTER TABLE "current_rates" ADD CONSTRAINT "fk_current_rates_asset_id_base" FOREIGN KEY("asset_id_base") REFERENCES "assets" ("asset_id");"""

In [31]:
conn = create_connection(database)

#create tables
if conn is not None:
    #create tables
    execute_sql_cmd(conn, sql_create_assets_table)
    execute_sql_cmd(conn, sql_create_periods_table)
    execute_sql_cmd(conn, sql_create_current_rates_table)
    execute_sql_cmd(conn, sql_create_exchanges_table)
    execute_sql_cmd(conn, sql_create_historic_trades_table)

    #set keys
    #execute_sql_cmd(conn, alter1)
    #execute_sql_cmd(conn, alter2)

else:
    print("Error! cannot create the database connection.")

In [ ]:
run_machine_model()

update()

In [1]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

def execute_sql_cmd(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


def main():
    database = r"pythonsqlite.db"
    
    sql_create_assets_table = """ CREATE TABLE IF NOT EXISTS "assets" (
        "asset_id" VARCHAR   NOT NULL,
        "name" VARCHAR   NOT NULL,
        "type_is_crypto" INT   NOT NULL,
        "data_quote_start" VARCHAR   NOT NULL,
        "data_quote_end" VARCHAR   NOT NULL,
        "data_orderbook_start" VARCHAR   NOT NULL,
        "data_orderbook_end" VARCHAR   NOT NULL,
        "data_trade_start" VARCHAR   NOT NULL,
        "data_trade_end" VARCHAR   NOT NULL,
        "data_quote_count" VARCHAR   NOT NULL,
        "data_trade_count" VARCHAR   NOT NULL,
        "data_symbols_count" INT   NOT NULL,
        "volume_1hrs_usd" FLOAT   NOT NULL,
        "volume_1day_usd" FLOAT   NOT NULL,
        "volume_1mth_usd" FLOAT   NOT NULL,
        "price_usd" FLOAT   NOT NULL,
        CONSTRAINT "pk_assets" PRIMARY KEY ("asset_id")
    );"""
    
    sql_create_periods_table = """ CREATE TABLE IF NOT EXISTS "periods" (
        "period_id" VARCHAR   NOT NULL,
        "length_seconds" INT   NOT NULL,
        "length_months" INT   NOT NULL,
        "unit_count" INT   NOT NULL,
        "unit_name" VARCHAR   NOT NULL,
        "display_name" VARCHAR   NOT NULL
    );"""

    sql_create_currentrates_table = """ CREATE TABLE IF NOT EXISTS "currentrates" (
        "time" VARCHAR   NOT NULL,
        "asset_id_base" VARCHAR   NOT NULL,
        "asset_id_quote" VARCHAR   NOT NULL,
        "rate" FLOAT   NOT NULL
    );"""

    sql_create_exchanges_table = """ CREATE TABLE IF NOT EXISTS "exchanges" (
        "exchange_id" VARCHAR   NOT NULL,
        "website" VARCHAR   NOT NULL,
        "name" VARCHAR   NOT NULL,
        "data_start" VARCHAR   NOT NULL,
        "data_end" VARCHAR   NOT NULL,
        "data_quote_start" VARCHAR   NOT NULL,
        "data_quote_end" VARCHAR   NOT NULL,
        "data_orderbook_start" VARCHAR   NOT NULL,
        "data_orderbook_end" VARCHAR   NOT NULL,
        "data_trade_start" VARCHAR   NOT NULL,
        "data_trade_end" VARCHAR   NOT NULL,
        "data_symbols_count" INT   NOT NULL,
        "volume_1hrs_usd" FLOAT   NOT NULL,
        "volume_1day_usd" FLOAT   NOT NULL,
        "volume_1mth_usd" FLOAT   NOT NULL
    );"""

    sql_create_historictrades_table = """ CREATE TABLE IF NOT EXISTS "historictrades" (
        "asset_id" VARCHAR   NOT NULL,
        "time_period_start" VARCHAR   NOT NULL,
        "time_period_end" VARCHAR   NOT NULL,
        "time_open" VARCHAR   NOT NULL,
        "time_close" VARCHAR   NOT NULL,
        "price_open" FLOAT   NOT NULL,
        "price_high" FLOAT   NOT NULL,
        "price_low" FLOAT   NOT NULL,
        "price_close" FLOAT   NOT NULL,
        "volume_traded" FLOAT   NOT NULL,
        "trades_count" INT   NOT NULL
    );"""
    
    alter1 = """ALTER TABLE "assets" ADD CONSTRAINT "fk_assets_asset_id" FOREIGN KEY("asset_id")
    REFERENCES "historictrades" ("asset_id");"""

    alter2 = """ALTER TABLE "current_rates" ADD CONSTRAINT "fk_currentrates_asset_id_base" FOREIGN KEY("asset_id_base")
    REFERENCES "assets" ("asset_id");"""

    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create projects table
        execute_sql_cmd(conn, sql_create_projects_table)

        # create tasks table
        execute_sql_cmd(conn, sql_create_tasks_table)
    else:
        print("Error! cannot create the database connection.")

if __name__ == '__main__':
    main()

SyntaxError: invalid syntax (<ipython-input-1-d2101849623a>, line 103)